django==5.1.15
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
django-environ==0.11.2
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.4
httpx==0.28.1
sentry-sdk==1.45.1
croniter==6.0.0
cryptography==46.0.5
boto3==1.42.53
prometheus-client==0.20.0
jsonschema==4.22.0
inflection==0.5.1
uritemplate==4.1.1
PyYAML==6.0.2
Faker==25.2.0
pytest==8.2.2
pytest-django==4.8.0
pytest-cov==4.1.0
black==24.4.2
ruff==0.4.4
